<div class="fields">
	
	<!-- user fields -->
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :password_confirmation, :label => 'Confirm' %>
	<%= f.input :role, :collection => User::ROLES %>

</div>