<span id="login-bar">
	<form accept-charset="UTF-8" action="/sessions" method="post" class="form-inline">
		<input id="email" name="email" type="text" class="input-medium" placeholder="email">
		<input id="password" name="password" type="password" class="input-medium" placeholder="password">
	  <button type="submit" class="btn btn-small">Log in</button>
	</form>
</span>