<form accept-charset="UTF-8" action="/sessions" method="post" class="form-inline">
	<div class="input-prepend">
	  <span class="add-on"><i class="icon-user"></i></span>
		<input id="email" name="email" type="text" class="input-medium" placeholder="Email">
	</div>
	<div class="input-prepend">
	  <span class="add-on"><i class="icon-lock"></i></span>
		<input id="password" name="password" type="password" class="input-medium" placeholder="Password">
	</div>
  <button type="submit" class="btn btn-small">Log in</button>
</form>