<div class="row-fluid">
	<div class="span1"></div>
	<div class="span10">
		<div class="row-fluid rounded-box">
			<legend>Dojo Details</legend>
			<div class="span5">
				<%= render 'dojo_details' %>
			</div>
			<div class="span5">
				<%= render 'dojo_map' %>
			</div>
		</div>
	</div>
	<div class="span1"></div>
</div>
<br><br>

<!-- LIST DOJO'S STUDENTS -->
<div class="row">
	<div class="span2"></div>
	<div class="span8">
		<legend>Current Members</legend>
		<br><br>
		<% if logged_in? %>
			<% if @students.empty? %>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>None at this time</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>(possibly an unpopular dojo)</em>
				</div>
			<% else %>
				<%= render 'memberships' %>
			<% end %>
			<br>
			<%= link_to(raw("<i class='icon-plus icon-white'></i> Assign Student"), new_dojo_student_path(:id => @dojo.id, :from => 'dojo'), :class => 'btn btn-primary') %>
		<% else %>
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>We do apologize</strong>, but only assistants to the regional manager may view this data.
			</div>
		<% end %>
	</div>
	<div class="span2"></div>
</div>
