<div class="row-fluid">
	<div class="span1"></div>
	<div class="span10">
		<div class="row-fluid rounded-box">
			<legend>Dojo Details</legend>
			<div class="span5">
				<%= render 'dojo_details' %>
			</div>
			<div class="span5">
				<%= render 'dojo_map' %>
			</div>
		</div>
	</div>
	<div class="span1"></div>
</div>
<br><br>

<!-- LIST DOJO'S STUDENTS -->
<% if logged_in? %>
	<div class="row">
		<div class="span2"></div>
		<div class="span8">
			<% if @students.empty? %>
				<br><br>
				<b>No Current Students</b>
			<% else %>
				<%= render 'memberships' %>
			<% end %>
		</div>
		<div class="span2"></div>
	</div>
<% end %>